@model SSW.DataOnion.Sample.WebUI.Model.SchoolsModel
@{
    ViewData["Title"] = "Schools";
}
<h2>Schools - using UnitOfWork</h2>

<table class="table table-responsive table-striped">
    <thead>
    <tr>
        <th>
            School Name
        </th>
        <th>
            School Address
        </th>
        <th>
            No of Students
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var school in Model.Schools)
    {
        <tr>
            <td>@school.Name</td>
            <td>@school.Address.FullAddress</td>
            <td>@school.Students.Count</td>
            <td>@Html.ActionLink("View", "Students", "UnitOfWorkDemo", new { schoolId = school.Id }, new { @class = "btn btn-sm btn-success" })</td>
        </tr>
    }
    </tbody>
</table>
