@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <h2>Welcome to SSW.DataOnion</h2>
        <p>
            This is a simple ASP.NET app that demonstrates the use of DataOnion2. Use links below to navigate different usages of DataOnion:
        </p>
        <ul>
            <li>
                @Html.ActionLink("Shcools and Students using Unit of Work and repository pattern", "Index", "UnitOfWorkDemo")
            </li>
            <li>
                @Html.ActionLink("Shcools and Students using DbContext directly", "Index", "DbContextDemo")
            </li>
        </ul>
        <p>
            For more details read our online documentation <a href="https://github.com/SSWConsulting/SSW.DataOnion2/tree/master/EF6">https://github.com/SSWConsulting/SSW.DataOnion2/tree/master/EF6</a> or visit official website here <a href="http://sswdataonion.com/">http://sswdataonion.com/</a>
        </p>
    </div>
</div>